.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}
.r-text-input {
  border: 0 !important;
  width: 240px !important;
}
.r-text-input:focus {
  border: 1px solid #ccc !important;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.request-modal {
  max-width: 1000px;
  /* max-width: 760px; */
  position: relative;
}
.tutor-label {
  margin-bottom: 20px;
}
.select-subject {
  max-width: 135px;
}
.client-email {
  word-wrap: break-word;
}
.request-modal--content {
  padding: 20px;
}
.request-modal .btn-secondary {
  background-color: #b8b8b8;
  color: #000;
}
.request-alert {
  top: 10px;
}
.teaches-all--check {
  color: #2f7d38;
  font-size: 15px;
}
.request-modal .btn-danger {
  background-color: #dc3545;
  color: #fff;
}
.request-modal--title {
  text-transform: none;
  word-break: break-all;
  font-weight: bold;
  margin-top: 0;
  font-size: 18px;
  color: #000;
  padding: 0px;
}
.modal-header .close {
  position: absolute;
  right: 0em;
  top: 0;
  /* font-size: 35px; */
  margin: 0;
}
.request-modal--body {
  padding-top: 0;
  font-size: 14px;
}
.request-container {
  padding-left: 0;
  padding-right: 0;
}
.pd-right--0 {
  padding-right: 0;
}
.pd-left--0 {
  padding-left: 0;
}
.request-client-info {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.tutor-pool-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.booking-info {
  font-size: 12px;
}
.booking-info .row {
  margin: 0;
}
.booking-info textarea {
  resize: none;
}
.booking-field {
  padding: 0;
}
.add-tutor--field {
  font-size: 12px;
}
.add-tutor--field label {
  padding: 0;
  margin-top: 10px;
  font-weight: bold;
}
.add-tutor--field input {
  width: 250px;
  margin: 0 10px 0;
  display: inline-block;
  height: calc(1.8125rem + 2px);
}
.booking-week--field {
  display: inline-block;
}
.booking-week--dates {
  max-width: calc(100% - 50px);
  margin-bottom: 20px;
}
.booking-week--dates small {
  display: block;
  text-align: right;
}
.booking-week--field input {
  display: block;
  width: 140px;
  margin-left: 10px;
  font-size: 12px;
}
.booking-session--price {
  display: block;
  position: relative;
}
.booking-session--price::before {
  position: absolute;
  top: 8px;
  left: -2px;
  font-size: 15px;
  content: "\20A6";
}
.booking-startDate--field label,
.booking-start--field label {
  font-weight: 900;
}
.booking-state--date {
  width: 150px;
  margin-left: 10px;
}
.booking-startDate--field input,
.booking-start--field select {
  margin-left: 10px;
  display: inline-block;
  width: 80px;
  font-size: 12px;
}
.booking-startDate--field input {
  width: 160px;
}
.booking-duration--field select {
  width: 90px;
  margin-left: 10px;
}
.booking-alert {
  margin-top: 20px;
}
.booking-alert h4 {
  font-size: 18px;
}
.booking-label {
  padding: 0;
  margin-top: 20px;
}
.booking-label h5 {
  font-weight: 900;
  font-size: 12px;
}
.booking-info .col-form-label {
  padding-left: 0;
  padding-right: 0;
}
.booking-info .col-form-label:nth-of-type(2) {
  margin-left: 20px;
}
.request-client-info,
.tutor-pool--list {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.tutor-pool-item:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}
.btn-approve--request {
  margin-top: 10px;
}
.ft-14 {
  font-size: 14px;
}
.request-input-box,
.request-input-box input {
  text-align: right;
}
.request-input-box input {
  width: 100px;
  margin-right: 4px;
}
.col-sm-4.booking-field {
  display: inline-block;
  flex: initial;
  width: initial;
  margin-right: 15px;
}
.col-sm-4.booking-field:last-of-type {
  margin-right: 0;
}
/* .request-subject {
    margin-bottom: 10px;
} */
/* .request-subject:first-of-type .subject-name {
    color: #dc3545;
} */
.request-subject-inactive {
  color: #dc3545;
}
.request-modal--footer .btn {
  font-weight: bold;
}
.request-modal--footer {
  border: none;
  margin-top: 20px;
}
.loader {
  position: absolute;
  left: -35px;
  top: 0;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.loader.main-loader {
  position: static;
  width: 100px;
  height: 100px;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*! CSS Used from: http://localhost:8000/static/admin/css/base.css */
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
    Verdana, Arial, sans-serif;
  color: #333;
  background: #fff;
}
a:link,
a:visited {
  color: #447e9b;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #036;
}
a:focus {
  text-decoration: underline;
}
p,
ul {
  margin: 0.2em 0 0.8em 0;
}
p {
  padding: 0;
  line-height: 140%;
}
h1,
h2,
h3 {
  font-weight: bold;
}
h1 {
  margin: 0 0 20px;
  font-weight: 300;
  font-size: 20px;
  color: #666;
}
h2 {
  font-size: 16px;
  margin: 1em 0 0.5em 0;
}
h3 {
  font-size: 14px;
  margin: 0.8em 0 0.3em 0;
  color: #666;
  font-weight: bold;
}
ul li {
  list-style-type: square;
  padding: 1px 0;
}
li {
  font-size: 13px;
  line-height: 20px;
}
form {
  margin: 0;
  padding: 0;
}
code {
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier,
    monospace;
  color: #666;
  font-size: 12px;
}
td img {
  vertical-align: middle;
}
.clear {
  clear: both;
}
.nowrap {
  white-space: nowrap;
}
table {
  border-collapse: collapse;
  border-color: #ccc;
}
td,
th {
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px solid #eee;
  vertical-align: top;
  padding: 8px;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}
th {
  font-weight: 600;
  text-align: left;
}
thead th {
  color: #666;
  padding: 5px 10px;
  font-size: 11px;
  background: #fff;
  border: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.row1 {
  background: #fff;
}
.row2 {
  background: #f9f9f9;
}
thead th {
  padding: 5px 10px;
  line-height: normal;
  text-transform: uppercase;
  background: #f6f6f6;
}
thead th a:link,
thead th a:visited {
  color: #666;
}
table thead th .text span {
  padding: 8px 10px;
  display: block;
}
table thead th .text a {
  display: block;
  cursor: pointer;
  padding: 8px 10px;
}
table thead th .text a:focus,
table thead th .text a:hover {
  background: #eee;
}
input,
textarea,
select,
form .button {
  margin: 2px 0;
  padding: 2px 3px;
  vertical-align: middle;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
}
textarea {
  vertical-align: top;
}
input[type="text"],
textarea,
select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 6px;
  margin-top: 0;
}
input[type="text"]:focus,
textarea:focus,
select:focus {
  border-color: #999;
}
select {
  height: 30px;
}
.button,
input[type="submit"],
a.button {
  background: #79aec8;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
a.button {
  padding: 4px 5px;
}
.button:active,
input[type="submit"]:active,
.button:focus,
input[type="submit"]:focus,
.button:hover,
input[type="submit"]:hover {
  background: #609ab6;
}
.module {
  border: none;
  margin-bottom: 30px;
  background: #fff;
}
.module p,
.module ul,
.module h3 {
  padding-left: 10px;
  padding-right: 10px;
}
.module ul {
  margin-left: 1.5em;
}
.module h3 {
  margin-top: 0.6em;
}
.module h2 {
  margin: 0;
  padding: 8px;
  font-weight: 400;
  font-size: 13px;
  text-align: left;
  background: #79aec8;
  color: #fff;
}
.module table {
  border-collapse: collapse;
}
div.breadcrumbs {
  background: #79aec8;
  padding: 10px 40px;
  border: none;
  font-size: 14px;
  color: #c4dce8;
  text-align: left;
}
div.breadcrumbs a {
  color: #fff;
}
div.breadcrumbs a:focus,
div.breadcrumbs a:hover {
  color: #c4dce8;
}
.addlink {
  padding-left: 16px;
  background: url(http://localhost:8000/static/admin/img/icon-addlink.svg) 0 1px
    no-repeat;
}
.object-tools {
  font-size: 10px;
  font-weight: bold;
  padding-left: 0;
  float: right;
  position: relative;
  margin-top: -48px;
}
.object-tools li {
  display: block;
  float: left;
  margin-left: 5px;
  height: 16px;
}
.object-tools a {
  border-radius: 15px;
}
.object-tools a:link,
.object-tools a:visited {
  display: block;
  float: left;
  padding: 3px 12px;
  background: #999;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff;
}
.object-tools a:focus,
.object-tools a:hover {
  background-color: #417690;
}
.object-tools a:focus {
  text-decoration: none;
}
.object-tools a.addlink {
  background-repeat: no-repeat;
  background-position: right 7px center;
  padding-right: 26px;
}
.object-tools a.addlink {
  background-image: url(http://localhost:8000/static/admin/img/tooltag-add.svg);
}
#container {
  position: relative;
  width: 100%;
  min-width: 980px;
  padding: 0;
}
#content {
  padding: 20px 40px;
}
#content-main {
  float: left;
  width: 100%;
}
#footer {
  clear: both;
  padding: 10px;
}
#header {
  width: auto;
  height: 40px;
  padding: 10px 40px;
  background: #417690;
  line-height: 40px;
  color: #ffc;
  overflow: hidden;
}
#header a:link,
#header a:visited {
  color: #fff;
}
#header a:focus,
#header a:hover {
  text-decoration: underline;
}
#branding {
  float: left;
}
#user-tools {
  float: right;
  padding: 0;
  margin: 0 0 0 20px;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: right;
}
#user-tools a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
#user-tools a:focus,
#user-tools a:hover {
  text-decoration: none;
  border-bottom-color: #79aec8;
  color: #79aec8;
}
/*! CSS Used from: http://localhost:8000/static/admin/css/changelists.css */
#changelist {
  position: relative;
  width: 100%;
}
#changelist table {
  width: 100%;
}
.change-list .filtered table {
  border-right: none;
}
.change-list .filtered {
  min-height: 400px;
}
.change-list .filtered .results,
.change-list .filtered .paginator,
.filtered #toolbar,
.filtered div.xfull {
  margin-right: 280px;
  width: auto;
}
.change-list .filtered table tbody th {
  padding-right: 1em;
}
#changelist-form .results {
  overflow-x: auto;
}
#changelist .toplinks {
  border-bottom: 1px solid #ddd;
}
#changelist .paginator {
  color: #666;
  border-bottom: 1px solid #eee;
  background: #fff;
  overflow: hidden;
}
#changelist table thead th {
  padding: 0;
  white-space: nowrap;
  vertical-align: middle;
}
#changelist table thead th.action-checkbox-column {
  width: 1.5em;
  text-align: center;
}
#changelist table tbody td.action-checkbox {
  text-align: center;
}
#changelist #toolbar {
  padding: 8px 10px;
  margin-bottom: 15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #f8f8f8;
  color: #666;
}
#changelist #toolbar form input {
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
  color: #333;
}
#changelist #toolbar form #searchbar {
  height: 19px;
  border: 1px solid #ccc;
  padding: 2px 5px;
  margin: 0;
  vertical-align: top;
  font-size: 13px;
}
#changelist #toolbar form #searchbar:focus {
  border-color: #999;
}
#changelist #toolbar form input[type="submit"] {
  border: 1px solid #ccc;
  padding: 2px 10px;
  margin: 0;
  vertical-align: middle;
  background: #fff;
  box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
  cursor: pointer;
  color: #333;
}
#changelist #toolbar form input[type="submit"]:focus,
#changelist #toolbar form input[type="submit"]:hover {
  border-color: #999;
}
#changelist #changelist-search img {
  vertical-align: middle;
  margin-right: 4px;
}
#changelist-filter {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 240px;
  background: #f8f8f8;
  border-left: none;
  margin: 0;
}
#changelist-filter h2 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 5px 15px;
  margin-bottom: 12px;
  border-bottom: none;
}
#changelist-filter h3 {
  font-weight: 400;
  font-size: 14px;
  padding: 0 15px;
  margin-bottom: 10px;
}
#changelist-filter ul {
  margin: 5px 0;
  padding: 0 15px 15px;
  border-bottom: 1px solid #eaeaea;
}
#changelist-filter ul:last-child {
  border-bottom: none;
  padding-bottom: none;
}
#changelist-filter li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
#changelist-filter a {
  display: block;
  color: #999;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
#changelist-filter li.selected {
  border-left: 5px solid #eaeaea;
  padding-left: 10px;
  margin-left: -15px;
}
#changelist-filter li.selected a {
  color: #5b80b2;
}
#changelist-filter a:focus,
#changelist-filter a:hover,
#changelist-filter li.selected a:focus,
#changelist-filter li.selected a:hover {
  color: #036;
}
.change-list ul.toplinks {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
}
.change-list ul.toplinks li {
  padding: 3px 6px;
  font-weight: bold;
  list-style-type: none;
  display: inline-block;
}
.paginator {
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 22px;
  margin: 0;
  border-top: 1px solid #ddd;
}
.paginator a:link,
.paginator a:visited {
  padding: 2px 6px;
  background: #79aec8;
  text-decoration: none;
  color: #fff;
}
.paginator .end {
  margin-right: 6px;
}
.paginator .this-page {
  padding: 2px 6px;
  font-weight: bold;
  font-size: 13px;
  vertical-align: top;
}
.paginator a:focus,
.paginator a:hover {
  color: white;
  background: #036;
}
.filtered .actions {
  margin-right: 280px;
  border-right: none;
}
#changelist table input {
  margin: 0;
  vertical-align: baseline;
}
#changelist .actions {
  padding: 10px;
  background: #fff;
  border-top: none;
  border-bottom: none;
  line-height: 24px;
  color: #999;
}
#changelist .actions span.all,
#changelist .actions span.action-counter,
#changelist .actions span.clear,
#changelist .actions span.question {
  font-size: 13px;
  margin: 0 0.5em;
  display: none;
}
#changelist .actions select {
  vertical-align: top;
  height: 24px;
  background: none;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 0 0 4px;
  margin: 0;
  margin-left: 10px;
}
#changelist .actions select:focus {
  border-color: #999;
}
#changelist .actions label {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}
#changelist .actions .button {
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
  cursor: pointer;
  height: 24px;
  line-height: 1;
  padding: 4px 8px;
  margin: 0;
  color: #333;
}
#changelist .actions .button:focus,
#changelist .actions .button:hover {
  border-color: #999;
}
/*! CSS Used from: http://localhost:8000/static/admin/css/changelists.css */
#changelist {
  position: relative;
  width: 100%;
}
#changelist table {
  width: 100%;
}
.change-list .filtered table {
  border-right: none;
}
.change-list .filtered {
  min-height: 400px;
}
.change-list .filtered .results,
.change-list .filtered .paginator,
.filtered #toolbar,
.filtered div.xfull {
  margin-right: 280px;
  width: auto;
}
.change-list .filtered table tbody th {
  padding-right: 1em;
}
#changelist-form .results {
  overflow-x: auto;
}
#changelist .toplinks {
  border-bottom: 1px solid #ddd;
}
#changelist .paginator {
  color: #666;
  border-bottom: 1px solid #eee;
  background: #fff;
  overflow: hidden;
}
#changelist table thead th {
  padding: 0;
  white-space: nowrap;
  vertical-align: middle;
}
#changelist table thead th.action-checkbox-column {
  width: 1.5em;
  text-align: center;
}
#changelist table tbody td.action-checkbox {
  text-align: center;
}
#changelist #toolbar {
  padding: 8px 10px;
  margin-bottom: 15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #f8f8f8;
  color: #666;
}
#changelist #toolbar form input {
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
  color: #333;
}
#changelist #toolbar form #searchbar {
  height: 19px;
  border: 1px solid #ccc;
  padding: 2px 5px;
  margin: 0;
  vertical-align: top;
  font-size: 13px;
}
#changelist #toolbar form #searchbar:focus {
  border-color: #999;
}
#changelist #toolbar form input[type="submit"] {
  border: 1px solid #ccc;
  padding: 2px 10px;
  margin: 0;
  vertical-align: middle;
  background: #fff;
  box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
  cursor: pointer;
  color: #333;
}
#changelist #toolbar form input[type="submit"]:focus,
#changelist #toolbar form input[type="submit"]:hover {
  border-color: #999;
}
#changelist #changelist-search img {
  vertical-align: middle;
  margin-right: 4px;
}
#changelist-filter {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 240px;
  background: #f8f8f8;
  border-left: none;
  margin: 0;
}
#changelist-filter h2 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 5px 15px;
  margin-bottom: 12px;
  border-bottom: none;
}
#changelist-filter h3 {
  font-weight: 400;
  font-size: 14px;
  padding: 0 15px;
  margin-bottom: 10px;
}
#changelist-filter ul {
  margin: 5px 0;
  padding: 0 15px 15px;
  border-bottom: 1px solid #eaeaea;
}
#changelist-filter ul:last-child {
  border-bottom: none;
  padding-bottom: none;
}
#changelist-filter li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
#changelist-filter a {
  display: block;
  color: #999;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
#changelist-filter li.selected {
  border-left: 5px solid #eaeaea;
  padding-left: 10px;
  margin-left: -15px;
}
#changelist-filter li.selected a {
  color: #5b80b2;
}
#changelist-filter a:focus,
#changelist-filter a:hover,
#changelist-filter li.selected a:focus,
#changelist-filter li.selected a:hover {
  color: #036;
}
.change-list ul.toplinks {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
}
.change-list ul.toplinks li {
  padding: 3px 6px;
  font-weight: bold;
  list-style-type: none;
  display: inline-block;
}
.paginator {
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 22px;
  margin: 0;
  border-top: 1px solid #ddd;
}
.paginator a:link,
.paginator a:visited {
  padding: 2px 6px;
  background: #79aec8;
  text-decoration: none;
  color: #fff;
}
.paginator .end {
  margin-right: 6px;
}
.paginator .this-page {
  padding: 2px 6px;
  font-weight: bold;
  font-size: 13px;
  vertical-align: top;
}
.paginator a:focus,
.paginator a:hover {
  color: white;
  background: #036;
}
.filtered .actions {
  margin-right: 280px;
  border-right: none;
}
#changelist table input {
  margin: 0;
  vertical-align: baseline;
}
#changelist .actions {
  padding: 10px;
  background: #fff;
  border-top: none;
  border-bottom: none;
  line-height: 24px;
  color: #999;
}
#changelist .actions span.all,
#changelist .actions span.action-counter,
#changelist .actions span.clear,
#changelist .actions span.question {
  font-size: 13px;
  margin: 0 0.5em;
  display: none;
}
#changelist .actions select {
  vertical-align: top;
  height: 24px;
  background: none;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 0 0 4px;
  margin: 0;
  margin-left: 10px;
}
#changelist .actions select:focus {
  border-color: #999;
}
#changelist .actions label {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}
#changelist .actions .button {
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
  cursor: pointer;
  height: 24px;
  line-height: 1;
  padding: 4px 8px;
  margin: 0;
  color: #333;
}
#changelist .actions .button:focus,
#changelist .actions .button:hover {
  border-color: #999;
}

/* for the remarks modal affected */
.form-row {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
}
textarea {
  resize: both;
}
a:not([href]):not([tabindex]) {
  color: #fff;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #fff;
}
